!!! 5
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}/
  /
    Always force latest IE rendering engine (even in intranet) &amp; Chrome Frame
    Remove this if you use the .htaccess
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  %title #{@title or @path} - TextDrop
  %meta{:content => "TextDrop - quick text editing for Dropbox files", :name => "description"}/
  %meta{:content => "Sam Nguyen", :name => "author"}/
  / Mobile viewport optimized: j.mp/bplateviewport
  / %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
  %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
  %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}/
  %link{:href => 'http://fonts.googleapis.com/css?family=Inconsolata&subset=latin',
    :rel => 'stylesheet', :type => 'text/css'}

  / CSS : implied media="all"
  %link{:href => "/css/reset.css?v=1", :rel => "stylesheet"}/
  %link{:href => "/css/themes/aristo/jquery-ui-1.8.7.custom.css?v=#{TD_VERSION}", :rel => "stylesheet"}/
  %link{:href => "/css/style.css?v=1", :rel => "stylesheet"}/
  %link{:href => "/css/dropbox-sprites.css?v=1", :rel => "stylesheet"}/

  / All JavaScript at the bottom, except for Modernizr which enables HTML5 elements &amp; feature detects
  / Grab Google CDN's jQuery. fall back to local if necessary
  %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"}
  :javascript
    !window.jQuery && document.write('<script src="/js/jquery-1.4.4.js"><\/script>')
  %script{:src => "/js/jquery-ui-1.8.9.custom.min.js"}

%body
  #root-view
  = yield
  #footer
    #footer-content
      %img(src="/icon-16.png")
      %span TextDrop #{TD_VERSION}

    #about(title="TextDrop #{TD_VERSION}" class="ui-helper-hidden")
      %img(src="/apple-touch-icon.png")
      %p
        %em by sam.nguyen@textdropapp.com
      %p TextDrop does not save your password. It doesn't even see your
      password because it uses Dropbox's OAuth system.
      However, it does transiently transmit the contents of your files through
      its servers, although it never saves any of your contents to disk.
      The transmission from your browser to the TextDrop server is unencrypted, so
      please only use TextDrop for non-sensitive material.
      %p
        %a(href="http://blog.textdropapp.com") blog, feature requests, bug reports

  %script{:src => "/js/underscore-min.js?v=1.1.4"}
  %script{:src => "/js/backbone.js?v=0.3.3"}
  %script{:src => "/js/util.js?v=#{TD_VERSION}"}
  %script{:src => "/js/plugins.js?v=#{TD_VERSION}"}
  %script{:src => "/js/application.js?v=#{TD_VERSION}"}
  %script{:src => "/js/controllers.js?v=#{TD_VERSION}"}
  %script{:src => "/js/views.js?v=#{TD_VERSION}"}

  /[if lt IE 7 ]
    <script src="/js/dd_belatedpng.js?"></script>
    <script>
    \  //fix those png IMGs and .png_bg background-images
    \  DD_belatedPNG.fix('img, .png_bg');
    </script>

  :javascript
    var _gaq = [['_setAccount', 'YOUR-GOOGLE-ANALYTICS-ID'], ['_trackPageview']];
    (function(d, t) {
      var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
     g.async = true;
     g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     s.parentNode.insertBefore(g, s);
    })(document, 'script');

  :javascript
    $(document).ready(function() {
      var appController = new AppController({rootView:$("#root-view")});
      Backbone.history.start();

      $("#about").dialog({
        autoOpen: false,
        modal: true,
        position: ['center', 200],
        width: 400
      }).parent().css("position", "fixed");

      $("#footer-content").click(function() {
        $("#about").dialog("open");
      });
    });
